# Copia este archivo como .env y llena los valores
# .env NUNCA se sube a GitHub

WC_URL=https://chunche.shop
WC_KEY=
WC_SECRET=

DB_HOST=
DB_PORT=3306
DB_NAME=
DB_USER=
DB_PASSWORD=

ML_TOKENS_JSON=
USE_DB_PROGRESS=1
